/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

/* --------------------------- */
/*  CSS: Henri Koivuneva       */
/*  henri.koivuneva@gmail.com  */
/* --------------------------- */

@charset "utf-8";


* {
    margin: 0;
    padding: 0;
}


html {
    font-family: "MozillaText", sans-serif;
}

#masthead {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 8px 16px;
}

#logo {
  flex-grow: 1;
}

#lang {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

#wrapper {
    font-weight: 300;
    margin-top:0px;
    text-align: center;
    padding-top: 60px;
}

@media screen and (max-width: 360px) {
    #wrapper {
        padding-top: 100px;
    }
}

#footer {
  margin: auto 0;
}

.choices li {
    display: none;
    font-size: 2.5rem;
    font-weight: 600;
}

.question {
    display: none;
    padding-top: 60px;
    text-align: center;
    font-size: 1.5rem;
    padding: 0 10%;
}

a {
    color: #000;
}

a:hover {
  text-decoration: none;
}

#responses {
    padding-top: 1em;
    font-size: 30pt;
}

#responses div {
    margin-bottom: 0.5em;
    /**
     * display:none needed in case if js is disabled
     */
    display:none;
}

.extra {
    color: #666;
    font-size: 20pt;
    font-weight: 600;
    padding-bottom: 1em;
}

.negative {
    display: none;
}

.visible {
    display: inline;
}

@media screen and (max-width: 499px) {

    #responses{
        font-size: 22pt;
    }

    .choices li {
        font-size: 25pt;
    }
}

/* RTL View */
html[dir="rtl"] * {
    font-family: "Droid Arabic Naskh", "Inter", sans-serif;
}

html[dir="rtl"] #lang-selection {
    background: center right transparent no-repeat;
    padding-left: 0;
    padding-right: 28px;
}

html[dir="rtl"] #lang {
    text-align: left;
    margin-left: 10px;
    margin-right: unset;
}

html[dir="rtl"] #lang {
    text-align: left;
}

/* Buttons */
.mf-button,
.mf-button-secondary {
  border: 2px solid #000;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5;
  text-decoration: none;
	padding: 8px 16px;
}

.mf-button,
.mf-button-secondary:active,
.mf-button-secondary:hover {
	background-color: #000;
	color: #fff;
}

.mf-button:active,
.mf-button:hover,
.mf-button-secondary {
	background-color: #fff;
	color: #000;
}

/* Select */
.mf-select {
	appearance: none;
	background-color: #fff;
	background-image:
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%239595a2' d='M14.64 5.3 8 11.94 1.36 5.3.3 6.36l7.7 7.7 7.7-7.7z'/%3E%3C/svg%3E"),
    linear-gradient(180deg,#fff 0,#fff);
	background-position: right 8px top 50%;
	background-repeat: no-repeat,repeat;
	background-size: 1em auto,100%;
	border: 2px solid #9595a2;
	border-radius: 4px;
	box-sizing: border-box;
	display: block;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	line-height: 1.25;
	max-width: 100%;
	min-width: 256px;
	padding: 8px calc(1.5em + 16px) 8px 8px;
	text-overflow: ellipsis;
}
